* {
  padding: 0;
  margin: 0;
}
.bg3 {
  width: 100%;
}
.pic-carousel7 div {
  width: 100%;
}
.container-hotel7 {
  width: 80%;
  height: 100%;
  margin-left: 10%;
}
.content7 {
  width: 100%;
  position: relative;
}
.content7 .pic7,
.content7 .hotel-content7 {
  width: 50%;
  height: 100%;
}
.content7 .pic7 img {
  width: 100%;
}
.hotel-content7 {
  position: absolute;
  right: -20px;
  top: 0;
}
.hotel-content7 h1 {
  color: #3399ff;
  font-size: 32px;
}
.hotel-content7 p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
  word-wrap: break-word;
  font-size: 20px;
  padding-top: 20px;
}
.facilities7 {
  width: 100%;
  height: 750px;
}
.facilities7 div {
  width: 100%;
  height: 50px;
}
.facilities7 p,
.policy7 p {
  font-size: 24px;
  margin-top: 5%;
  margin-bottom: 5%;
}
.facilities7 dd {
  font-size: 16px;
  list-style: none;
  float: left;
  width: 20%;
  height: 100%;
}
.facilities7 dt {
  color: gray;
  font-size: 20px;
  list-style: none;
  float: left;
  width: 20%;
  height: 100%;
}
.policy-title7 {
  width: 25%;
  color: grey;
}
.policy-first7 .policy-content7 {
  width: 75%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
.policy-second7 .policy-content7 {
  width: 79%;
  height: 100%;
  position: absolute;
  top: 0;
  padding-bottom: 8%;
  right: 0%;
}
.policy-content7 ul {
  list-style: none;
}
