*{
    padding:0;
    margin:0
}

.bg2{
    width: 100%;
}

.container-hotel{
    width:980px;
    margin:0 auto;
    
}

.location{
    margin-top: 70px;
    margin-left: 80px;
    margin-bottom: 70px;
}

.location a{
    font-weight: 700;
}

.content{
    width:100%;
    height: 100%;
    position:relative;
}
.content .pic,.content .hotel-content{
    width:100%;
    height:30%;
}
.content .pic img{
    width:100%;
    height: 400px;
    object-fit: cover;
}
.hotel-content{
    position:absolute;
    right:-20px;
    top:0;
}
.hotel-content h1{
    color:#3399ff;
    font-size:32px;
}
.hotel-content p {               
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow:ellipsis;
    word-wrap:break-word;
    font-size:20px;
}

.facilities{
    width:100%;
    height:700px;
    
}
.facilities div{
    width:100%;
    height:50px;
}
.facilities p {
    font-size:24px;
    margin-top:2%;
    margin-bottom:2%;
    color:#3366ff;
}

.policy{
    margin-bottom: 20px;
}

.policy p {
    font-size:24px;
    margin-top:5%;
    margin-bottom:2%;
    color:#3366ff;
}
.facilities>div{
    width:100%;
    height:600px
}
.facilities dd{
    list-style:none;
    float:left;
    width:20%;
    height:100%;
    font-size:16px;
    
}
.facilities dt{
    color:gray;
    font-size:22px;
    list-style:none;
    float:left;
    width:100%;
    height:100%;
    padding-top:10px;
    padding-bottom:10px;
    
}

.policy,.policy-first,.policy-second{
    width:100%;
    margin-bottom:3%;
    height:100%;
    font-size:18px;
}
.policy-title{
    width:25%;
    color:grey;
}
.policy-first .policy-content,.policy-second .policy-content{
    width:80%;
    height:100%;
    position:absolute;
    top:0;
    right:0
}
.policy-first,.policy-second{
    position:relative;
}
.policy-second{
    margin-bottom:16%;
}
.policy-second .policy-content{
    right:0%;
}

.policy-content ul{
    list-style:none;
    
    
    
}

.policy-content ul li{
    float:left;
    padding-right:20px;
    height:100%;
}